body {
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header"
    "contentLeft contentRight"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    
  
  
}
@media only screen and (max-width:900px){
    .container {
        margin: 0 auto;
        display: grid;
        grid-template-areas:
        "header header"
        "contentLeft contentLeft"
        "contentRight contentRight";
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(100px, auto); 
    }
}

.header {
    grid-area: header;
    background-color: rgb(247, 250, 242);  
    padding : 20px;
    text-align: center;
    color:rgb(28, 188, 237);
}

.contentLeft {
    grid-area: contentLeft;
    height:100%;
    background-color: rgb(220, 224, 220);  
    text-align: center;
    color:rgb(28, 188, 237);
    padding: 20px;
}
.contentRight {
    grid-area: contentRight;
    height: 100%;
    background-color: rgb(220, 224, 220);  
    text-align: center;
    color:rgb(28, 188, 237);
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: rgb(247, 250, 242);  
    text-align: center;
    color:rgb(28, 188, 237);
}


.card,.contentCard2 {
    padding:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.contentCard2 {
    padding-top: 60px;
}

.contentCard2 h1 {
    flex: 1 1 100%;
}

.title{
    font-size: 22px;
    margin-bottom: 20px;
}

.zipDiv,.feeling{
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap ;
    padding: 50px;
    
}


#inputZip,textarea{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding:10px;
    border-radius: 3px;
}
.submit {
    margin-top: 10px;
     padding: 20px;
     background-color:rgb(28, 188, 237);
     color: #fff;
     border : none;
     cursor: pointer;

}

